
<HTML lang="es">
  <head>
    <meta charset= "UTF-8">
    <meta name="viewport" content="widh=device-width, initial-scale=1,0">
    <title>PACTO DE SILENCIO</title> 
    <style>
      body  {
        font-family: Arial, Helvetica, sans-serif;
        color: blue;
      }

      header {
        text-align: center;
        color: aquamarine;
      }
      .profile-picture{
        border-radius: 50%;
        display: block;
        margin: auto;
      }

      .section {
        margin: auto;
        padding: 1rem;
        background-color: rgb(62, 180, 111);
      }

      .card:hover {
        cursor: pointer;

      }
    </style>
  </head>
  <body>

    <header>
      <img src="https://www.eluniverso.com/resizer/g0455YpZLjwBIuB02lF2HqUziYc=/1031x670/smart/filters:quality(70)/cloudfront-us-east-1.images.arcpublishing.com/eluniverso/A25RW4RKZZH6LF2YMHODALZ764.jpg">
      <h1>PACTO DE SILENCIO</h1>
    </header>
    <section class="section bio">
      <h2>Historia de la serie</h2>
      <p>En Pacto de Silencio, una influencer (Camila Valero) trama una venganza contra su propia madre, que la abandonó de recién nacida. Pero la madre puede ser cualquiera de las cuatro amigas que, en el colegio, ocultaron el embarazo de una de ellas</p>
    </section>
    <section class="section factures">
      <p>“Pacto de Silencio” cuenta la historia de Brenda, una joven influencer, interpretada por la actriz Camila Valero -hermana de Michelle Salas- “que se entromete en la vida de cuatro mujeres para descubrir la verdad sobre su nacimiento y cobrar venganza”</p>
    </section>
    <section class="section related">
      <h2>Motivos por el cual te gusta</h2>
      <li>Por que la trama me llamo la atencion</li>
      <li>Sus ingeniosas intrigas tienen como resultado un incidente pasado por fuego que desconcierta a todo el mundo</li>
    </section>
    
  </body>
</HTML>

 